In [2]:
import pandas as pd

In [5]:
train_data_path = '/home/azureuser/cloudfiles/data/datastore/data/LocalUpload/a0ef3bb7fec2577927681ce80a99d672/train/adult_train.parquet'
test_data_path = '/home/azureuser/cloudfiles/data/datastore/data/LocalUpload/878e73851064c258078a32a411ee976b/test/adult_test.parquet'
train = pd.read_parquet(train_data_path)
test = pd.read_parquet(test_data_path)

In [6]:
train.head()

,Age,Workclass,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,income
0,41.0,4,9.0,2,3,4,4,1,0.0,0.0,40.0,39,0
1,46.0,4,13.0,2,4,4,4,1,7688.0,0.0,40.0,39,1
2,42.0,4,10.0,2,12,4,4,1,0.0,0.0,40.0,39,0
3,38.0,4,9.0,0,1,1,4,0,0.0,0.0,40.0,39,0
4,63.0,4,9.0,2,1,4,2,1,0.0,0.0,40.0,39,0

In [7]:
train = train.drop(['Relationship', 'Race', 'Sex', 'Marital Status'], axis=1)
test = test.drop(['Relationship', 'Race', 'Sex', 'Marital Status'], axis=1)

In [8]:
train.head()

,Age,Workclass,Education-Num,Occupation,Capital Gain,Capital Loss,Hours per week,Country,income
0,41.0,4,9.0,3,0.0,0.0,40.0,39,0
1,46.0,4,13.0,4,7688.0,0.0,40.0,39,1
2,42.0,4,10.0,12,0.0,0.0,40.0,39,0
3,38.0,4,9.0,1,0.0,0.0,40.0,39,0
4,63.0,4,9.0,1,0.0,0.0,40.0,39,0

In [13]:
import os
os.makedirs('updated/train', exist_ok = True)
os.makedirs('updated/test', exist_ok = True)

In [14]:
train.to_parquet('updated/train/adult_train.parquet', index=False)
test.to_parquet('updated/test/adult_test.parquet', index=False)

In [12]:
# az ml data create --name Adult_Train_MLT --version 2 --path ./data/updated/train --type mltable  --resource-group mlservices-rg --workspace-name msazureml
# az ml data create --name Adult_Test_MLT --version 2 --path ./data/updated/test --type mltable  --resource-group mlservices-rg --workspace-name msazureml

'/mnt/batch/tasks/shared/LS_root/mounts/clusters/krbock1v2-gpu/code/Users/krbock/responsibleai/data'